enable_outbound=true
domain_selector=mail_from

host=smtp.office365.com
port=587

enable_tls=false
one_message_per_rcpt=false

auth_type=login
auth_user={{ smtp_forward.user }}
auth_pass={{ smtp_forward.pwd }}

[{{ smtp_forward.domain }}]
host=smtp.office365.com
port=587
enable_tls=false
one_message_per_rcpt=false
auth_type=login
auth_user={{ smtp_forward.user }}
auth_pass={{ smtp_forward.pwd }}
